@model ERP_GMEDINA.Models.tbPersonas

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}


<h2>Persona</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
   

}

<div class="ibox">
    
    <div class="ibox-content">

        <div class="form-group">
            <div class="ibox-tools">

                <a class="close-link">
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary btn-xs" })
                </a>
            </div>
        </div>
           
        <form id="Persona" action="#" class="wizard-big wizard clearfix" role="application" novalidate="novalidate">
            <h1>Datos Personales</h1>
            <div>
            @Html.Partial("_Create", new ERP_GMEDINA.Models.tbPersonas())</div>

            <h1>Competencias</h1>
            <div>juejue</div>

            <h1>Habilidades</h1>
            <div>juejue</div>
            
            <h1>Idiomas</h1>
            <div>juejue</div>
            
            <h1>Titulos</h1>
            <div>juejue</div>
 
            <h1>Otros</h1>
            <div>juejue</div>

            <h1>Terminos y Condiciones</h1>
            <div>juejue</div>
            
        </form>
        
    </div>
   
</div>
<br>





@*<script src="~/Scripts/app/General/Personas/StepsPersonas.js"></script>*@
<script src="~/Scripts/plugins/pace/pace.min.js"></script>
