
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" />
<link href="~/Content/plugins/dropzone/basic.css" rel="stylesheet" />
<link href="~/Content/plugins/dropzone/dropzone.css" rel="stylesheet" />
<link href="~/Content/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/plugins/codemirror/codemirror.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />

@{
    ViewBag.Title = "CargaDocumento";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="wrapper wrapper-content animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Carga de Planilla Externa </h2>
                </div>
                <div class="ibox-content">
                   
                    @*@Html.DropDownList("Instituciones Financieras", ViewData["INFS"] as SelectList,"Seleccione una opcion...")*@ 
                    <div class="col-md-6">
                           Seleccione una Institucion Financiera a la cual sera asignada la planilla:
                        <select class="select2_demo_3 form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                            <option></option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Benin">Benin</option>
                        </select>
                        @*<span class="select2 select2-container select2-container--default select2-container--above" dir="ltr" style="width: 326px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-2b83-container"><span class="select2-selection__rendered" id="select2-2b83-container"><span class="select2-selection__placeholder">Select a state</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>*@
                    </div>

                    <br><br><br><br><hr>
                    <div class="col-md-8">
                        <p>
                            Favor seleccionar planilla externa (Excel), para ser cargada al sistema.
                        </p>
                    </div>
                    <br><br>
                    <form action="#" class="dropzone" id="dropzoneForm">
                        <div class="fallback">
                            <input name="archivoexcel" type="file" multiple required />
                        </div>
                    </form>

                    <hr>
                   
                    @Html.ActionLink("Cargar Archivos", "CargaDocumento",null @*,new { id =  }*@, new { @class = "btn btn-primary col-md-offset-5" })
                </div>

            </div>
        </div>

    </div>
</div>





<!-- Mainly scripts -->

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/plugins/metisMenu/metisMenu.min.js"></script>
<script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Custom and plugin javascript -->
<script src="~/Scripts/app/inspinia.js"></script>
@*<script src="~/Scripts/plugins/pace/pace.min.js"></script>*@

<!-- Jasny -->

<script src="~/Scripts/plugins/jasny/jasny-bootstrap.min.js"></script>
<!-- DROPZONE -->

<script src="~/Scripts/plugins/dropzone/dropzone.js"></script>
<!-- CodeMirror -->
<script src="~/Scripts/plugins/codemirror/codemirror.js"></script>
<script src="~/Scripts/plugins/codemirror/mode/xml/xml.js"></script>

<script>
        Dropzone.options.dropzoneForm = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 10, // MB
            dictDefaultMessage: "<center><strong>Suelte los archivos aquí o haga clic para cargar.</strong></br></center>"
        };

      

</script>