@model ERP_GMEDINA.Models.tbHistorialVacaciones

<div class="modal inmodal" id="ModalDetalles" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Detalle</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>Fecha Inicio</dt>
                    <dd id="hvac_FechaInicio"></dd>

                    <dt>Fecha Fin</dt>
                    <dd id="hvac_FechaFin"></dd>

                    <dt>Dias de Dias</dt>
                    <dd id="hvac_CantDias"></dd>

                    <dt>Dias Pagados</dt>
                    <dd id="hvac_DiasPagados"></dd>

                    <dt>Mes de Vacaciones</dt>
                    <dd id="hvac_MesVacaciones"></dd>

                    <dt>Año de Vacaciones</dt>
                    <dd id="hvac_AnioVacaciones"></dd>

                    <dt>Estado</dt>
                    <dd id="hvac_Estado"></dd>

                    <dt>Razon Inactivo</dt>
                    <dd id="hvac_RazonInactivo"></dd>

                    <dt>Fecha Crea</dt>
                    <dd id="hvac_FechaCrea"></dd>

                    <dt>Fecha Modifica</dt>
                    <dd id="hvac_FechaModifica"></dd>

                    <dt>Usuario Crea</dt>
                    <dd id="hvac_UsuarioCrea"></dd>

                    <dt>Usuario Modifica</dt>
                    <dd id="hvac_UsuarioModifica"></dd>



                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary pull-left" data-id="" id="btnEditar">Editar</button>
            </div>
        </div>
    </div>
</div>

